

.sub{
	bottom: 12px;
	padding: 12px 24px;
	position: fixed;
	font: 16px Arial;
	text-align: center;
	background-color: #112;
	color: #6F6;
	right: 6px;
	border: solid #111 6px;
	border-radius: 10px;
	z-index: 999;
}

@font-face {
font-family: Tomba2Full;
src: url(tomba2full.ttf);
}

body{
	background: #111;
}
